@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  #root {
    background-color: #0a1929;
  }
}

@layer components {
  input:checked ~ .dot {
    transform: translateX(100%);
  }
  input:checked ~ .block {
    background-color: #7964ff;
  }

  /* Hide scrollbar for Chrome; Safari and Opera */
  .s_hide::-webkit-scrollbar {
    display: none;
  }
  .s_hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  /* Loading Animation */
  .loader {
    border: 10px solid #f3f3f3;
    border-top: 10px solid #fb7185;
    border-radius: 50%;
    width: 8rem;
    height: 8rem;
    animation: spin 1s linear infinite;
    margin: auto;
    margin-top: 40vh;
  }

  .dark .shine {
    background: #070707;
    background-image: linear-gradient(
      to right,
      #070707 0%,
      #171717 20%,
      #171717 40%,
      #070707 100%
    );
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: inline-block;
    position: relative;

    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeholderShimmer;
    animation-timing-function: l;
  }

  .shine {
    background: #132f4c;
    background-image: linear-gradient(
      to right,
      #132f4c 0%,
      #0a1929 20%,
      #0a1929 40%,
      #132f4c 100%
    );
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: inline-block;
    position: relative;

    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeholderShimmer;
    animation-timing-function: l;
  }

  @keyframes placeholderShimmer {
    0% {
      background-position: -40rem 0;
    }

    100% {
      background-position: 40rem 0;
    }
  }
}

.sharebtn {
  display: block;
  top: 3rem;
  right: calc(18% - 4rem);
  width: 8rem;
  height: fit-content;
  padding: 0.2rem;
  background-color: white;
  position: fixed;
  text-align: center;
  transition: opacity 1s;
  opacity: 0;
}

.show {
  animation: btnAnimate 2s ease-out 0s 1 normal;
}

.shareIcon {
  opacity: 1;
  visibility: visible;
  position: fixed;
  top: 1rem;
  right: 18%;
}

@keyframes btnAnimate {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.75;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
